.elements {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bold {
    font-weight: bold;
}

.heading {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20%;
}

.button {
    background: #90EE90;
    border-radius: 10%;
    height: 30px;
}

.left {
    text-align: left;
}