.screen {
    background: #f5f5dc;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    margin: auto;
    margin-top: 5%;
}

.persons {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.person-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name {
    font-weight: bold;
}

.parentLink {
    margin-bottom: 10%;
}

.links {
    width: 100%;
    margin: 5% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
}

.female-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.male-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.female-links-only {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.male-links-only {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.only-link-parent {
    margin: 5%;
}

.child-link-only {
    margin: auto;
    word-wrap:break-word;
}


a:link, a:visited {
    background-color: #90EE90;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: green;
    color: white;
  }

  
.section {
    display: flex;
}

.update-button {
    height: 30px;
    margin: 20px;
    background: #90EE90;
    border-radius: 10%;
}

.add-child {
    height: 30px;
    margin: 20px;
    background: #90EE90;
    border-radius: 10%;
}

.admin-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}